---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<tmdb-key>&query=2001
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - fbd10b8946e0ac89d16ae748c5438246
      X-Memc-Age:
      - '15087'
      X-Memc-Expires:
      - '12703'
      Etag:
      - W/"207671ea9144a8749e686aedf55096bd"
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":null,"genre_ids":[16],"id":710172,"original_language":"ja","original_title":"2001","overview":"A
        short animation visualizing images of the year 2001.","popularity":1.172,"poster_path":"/aDPWGYyhO7mPpqEaUdwFkz2zAdt.jpg","release_date":"2001-08-15","title":"2001","video":false,"vote_average":0.0,"vote_count":0},{"adult":false,"backdrop_path":"/w5IDXtifKntw0ajv2co7jFlTQDM.jpg","genre_ids":[878,9648,12],"id":62,"original_language":"en","original_title":"2001:
        A Space Odyssey","overview":"Humanity finds a mysterious object buried beneath
        the lunar surface and sets off to find its origins with the help of HAL 9000,
        the world''s most advanced super computer.","popularity":163.134,"poster_path":"/ve72VxNqjGM69Uky4WTo2bK6rfq.jpg","release_date":"1968-04-02","title":"2001:
        A [...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/62?api_key=<tmdb-key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - fb85124053aff24df5bd7bc3f89c21ab
      X-Memc-Age:
      - '22133'
      X-Memc-Expires:
      - '5251'
      Etag:
      - W/"26abdf78418ade5d4cdb01a560b6f25e"
    body:
      encoding: UTF-8
      string: '{"adult":false,"backdrop_path":"/w5IDXtifKntw0ajv2co7jFlTQDM.jpg","belongs_to_collection":{"id":4438,"name":"The
        Space Odyssey Series","poster_path":"/bxQaNDuSLCllnMSQ0ZLg7e6HrMW.jpg","backdrop_path":"/15FumSExI9SRoL7QJWZAsA0b10c.jpg"},"budget":12000000,"genres":[{"id":878,"name":"Science
        Fiction"},{"id":9648,"name":"Mystery"},{"id":12,"name":"Adventure"}],"homepage":"http://2001spaceodysseymovie.com","id":62,"imdb_id":"tt0062622","origin_country":["US","GB"],"original_language":"en","original_title":"2001:
        A Space Odyssey","overview":"Humanity finds a mysterious object buried beneath
        the lunar surface and sets off to find its origins with the help of HAL 9000,
        the world''s most advanced super computer.","popularity":163.134,"poster_path":"/ve72VxNqjGM69Uky4WTo2bK6rfq.jpg","production_companies":[{"id":385,"logo_path":null,"name":"Stanley
        Kubrick Productions","origin_country":"GB"},{"id":21,"logo_path":"/usUnaYV6hQnlVAXP6r4HwrlLFPG.png","name":"Metro-Goldwyn-Mayer","origin_country":"US"}],"production_countries":[{"iso_3166_1":"GB","name":"United
        Kingdom"},{"iso_3166_1":"US","name":"United States of America"}],"release_date":"1968-04-02","revenue":71923560,"runtime":149,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"},{"english_name":"Russian","iso_639_1":"ru","name":"Pусский"}],"status":"Released","tagline":"The
        ultimate trip.","title":"2001: A Space Odyssey","video":false,"vote_average":8.076,"vote_count":11195}'
  recorded_at: Thu, 04 Jul 2024 14:47:40 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/62/credits?api_key=<tmdb-key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 335bb1b01a92e2b38cf5875d8f195a8e
      X-Memc-Age:
      - '323'
      X-Memc-Expires:
      - '25122'
      Etag:
      - W/"f1c904e95ad3d2fd1732fd621bab9c85"
    body:
      encoding: UTF-8
      string: '{"id":62,"cast":[{"adult":false,"gender":2,"id":245,"known_for_department":"Acting","name":"Keir
        Dullea","original_name":"Keir Dullea","popularity":16.35,"profile_path":"/dL9i0nCk2fCgInZNaYVjGck2IBp.jpg","cast_id":6,"character":"Dr.
        David Bowman","credit_id":"52fe4212c3a36847f8001a1b","order":0},{"adult":false,"gender":2,"id":246,"known_for_department":"Acting","name":"Gary
        Lockwood","original_name":"Gary Lockwood","popularity":12.749,"profile_path":"/lQBqZKpMxGslopZRvFanIWL4pSl.jpg","cast_id":7,"character":"Dr.
        Frank Poole","credit_id":"52fe4212c3a36847f8001a1f","order":1},{"adult":false,"gender":2,"id":247,"known_for_department":"Acting","name":"William
        Sylvester","original_name":"William Sylvester","popularity":11.507,"profile_path":"/gDzQVVDyzTMLuyK3iSrorD[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/62/reviews?api_key=<tmdb-key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - b9556f1c001a7e4b6726dff78df59fbe
      X-Memc-Age:
      - '26222'
      X-Memc-Expires:
      - '1806'
      Etag:
      - W/"d717520c3722fa9064999a31506a54d8"
    body:
      encoding: UTF-8
      string: '{"id":62,"page":1,"results":[{"author":"markuspm","author_details":{"name":"","username":"markuspm","avatar_path":null,"rating":null},"content":"There
        are many great predictions hinting to future (it is from 1968 - can you believe
        it?) innovations throughout the movie. I might not have found all them because
        I keep falling asleep while watching it but I will keep trying to find them
        all.","created_at":"2013-12-23T06:36:54.295Z","id":"52b7da0619c29528530335e0","updated_at":"2021-06-23T15:57:23.330Z","url":"https://www.themoviedb.org/review/52b7da0619c29528530335e0"},{"author":"izgzhen","author_details":{"name":"","username":"izgzhen","avatar_path":null,"rating":8.0},"content":"I
        believe that we should call it a modernism show, albeit exhibited in the form
        of a movie. While it might feel \"boring\", it forces you to rethink what
        philosophical level that a two-hour film can achieve. The focus on questions
        about life, intelligence, and time, is worth more attention th[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/62/watch/providers?api_key=<tmdb-key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - a7bedac14f4aab75cf64e0da780839cf
      X-Memc-Age:
      - '3398'
      X-Memc-Expires:
      - '18577'
      Etag:
      - W/"e4af7739206cb9973fb8a3dbb8c7860f"
    body:
      encoding: UTF-8
      string: '{"id":62,"results":{"AD":{"link":"https://www.themoviedb.org/movie/62-2001-a-space-odyssey/watch?locale=AD","flatrate":[{"logo_path":"/fksCUZ9QDWZMUwL2LgMtLckROUN.jpg","provider_id":1899,"provider_name":"Max","display_priority":29}]},"AE":{"link":"https://www.themoviedb.org/movie/62-2001-a-space-odyssey/watch?locale=AE","rent":[{"logo_path":"/9ghgSC0MA082EL6HLCW3GalykFD.jpg","provider_id":2,"provider_name":"Apple
        TV","display_priority":1}],"buy":[{"logo_path":"/9ghgSC0MA082EL6HLCW3GalykFD.jpg","provider_id":2,"provider_name":"Apple
        TV","display_priority":1}]},"AG":{"link":"https://www.themoviedb.org/movie/62-2001-a-space-odyssey/watch?locale=AG","flatrate":[{"logo_path":"/fksCUZ9QDWZMUwL2LgMtLckROUN.jpg","provider_id":1899,"provider_name":"Max","display_priority":13}]},"AO":{"link":"https://www.themoviedb.org/movie/62-2001-a-space-odyssey/watch?locale=AO","rent":[{"logo_path":"/8z7rC8uIDaTM91X0ZfkRf04ydj2.jpg","provider_id":3,"provider_name":"Google
        Play Movies","display_priority":0}],"buy":[{"logo_path":"/8z7rC8uIDaTM91X0ZfkRf04ydj2.jpg","provider_id":3,"provider_name":"Google
        Play Movies","display_priority":0}]},"AR":{"link":"https://www.themoviedb.org/movie/62-2001-a-space-odyssey/watch?locale=AR","buy":[{"logo_path":"/9ghgSC0MA082EL6HLCW3GalykFD.jpg","provider_id":2,"provider_name":"Apple
        TV","display_priority":3},{"logo_path":"/8z7rC8uIDaTM91X0ZfkRf04ydj2.jpg","provider_id":3,"provider_name":"Google
        Play Movies","display_priority":4}],"rent":[{"logo_path":"/9ghgSC0MA082EL6HLCW3GalykFD.jpg","provider_id":2,"provider_name":"Apple
        TV","display_priority":3},{"logo_path":"/8z7rC8uIDaTM91X0ZfkRf04ydj2.jpg","provider_id":3,"provider_name":"Google
        Play Movies","display_priority":4}]},"AT":{"link":"https://www.themoviedb.org/movie/62-2001-a-space-odyssey/watch?locale=AT","rent":[{"logo_path":"/seGSXajazLMCKGB5hnRCidtjay1.jpg","provider_id":10,"provider_name":"Amazon
        Video","display_priority":3},{"logo_path":"/9ghgSC0MA082EL6HLCW3GalykFD.jpg","provider_id":2,"provider_name":"Apple
        TV","display_priority":4},{"logo_path":"/f195E2gXoZBp7QjGNL4XICXxiDk.jpg","provider_id":1856,"provider_name":"Magenta
        TV","display_priority":6},{"logo_path":"/8z7rC8uIDaTM91X0ZfkRf[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/62/similar?api_key=<tmdb-key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 9f7a1b70c6bcb0e57e7f2f7c7ede5acf
      X-Memc-Age:
      - '231'
      X-Memc-Expires:
      - '28303'
      Etag:
      - W/"6edd527348185318c027747fea[...]
[...]
