---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<tmdb-key>&query=2001
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - fbd10b8946e0ac89d16ae748c5438246
      X-Memc-Age:
      - '15087'
      X-Memc-Expires:
      - '12703'
      Etag:
      - W/"207671ea9144a8749e686aedf55096bd"
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":null,"genre_ids":[16],"id":710172,"original_language":"ja","original_title":"2001","overview":"A
        short animation visualizing images of the year 2001.","popularity":1.172,"poster_path":"/aDPWGYyhO7mPpqEaUdwFkz2zAdt.jpg","release_date":"2001-08-15","title":"2001","video":false,"vote_average":0.0,"vote_count":0},{"adult":false,"backdrop_path":"/w5IDXtifKntw0ajv2co7jFlTQDM.jpg","genre_ids":[878,9648,12],"id":62,"original_language":"en","original_title":"2001:
        A Space Odyssey","overview":"Humanity finds a mysterious object buried beneath
        the lunar surface and sets off to find its origins with the help of HAL 9000,
        the world''s most advanced super computer.","popularity":163.134,"poster_path":"/ve72VxNqjGM69Uky4WTo2bK6rfq.jpg","release_date":"1968-04-02","title":"2001:
        A [...]
